main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}



.game-grid {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    height: 600px;
    
}

.slot {
    height: 100px;
    width: 100px;
    background-color: white;
    border-radius: 50%;
    text-align: center;
    color: red
}

// .hidden {
//     height: 100px;
//     width: 100px;
//     background-color: green;
//     border-radius: 50%;
//     text-align: center;
//     color: white;
// }

.taken {
    height: 100px;
    width: 100px;
    color: green;
    border-radius: 50%;
    text-align: center;
    color: white;
}

// players 

.playerRed {
    background-color: red;
}

.playerYellow {
    background-color: yellow;
}




