.game-grid {
  display: flex;
  flex-wrap: wrap;
  width: 900px;
  height: 700px;
}

.slot {
  height: 100px;
  width: 100px;
  background-color: blue;
  border-radius: 50%;
  text-align: center;
  color: white;
}

.slot p {
  padding-top: 20px;
}

.pad {
  padding: 15px;
}

div {
  border: 1px dotted red;
  padding: 10px;
}

.slot2 {
  border: 1px dotted red;
  padding: 10px;
}