.game-grid {
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    height: 600px;
}

.slot {
    height: 100px;
    width: 100px;
    background-color: white;
    border-radius: 50%;
    text-align: center;
    color: red
}



.taken {
    height: 100px;
    width: 100px;
    background-color: green;
    border-radius: 50%;
    text-align: center;
    color: white;
}

// players 

.playerRed {
    background-color: red;
}

.playerYellow {
    background-color: yellow;
}




